[SddmGreeterTheme]

Name=MineSDDM Theme
Description=MineSDDM is a custom theme for SDDM inspired by Minecraft’s retro 1.8 version and by the Minecraft GRUB Theme by Lxtharia
Description[tw]=MineSDDM 主題是模擬 Minecraft retro v1.8 界面的登入畫面（sddm）主題，受 Lxtharia 的 Minecraft GRUB Theme 所啟發
Description[pt_BR]=MineSDDM é um tema personalizado para o SDDM inspirado na versão retro 1.8 do Minecraft e no tema GRUB do Minecraft criado por Lxtharia

Screenshot=minesddm_preview_3.png
MainScript=Main.qml
Author=Davi-S
License=AGPL-3.0
Type=sddm-theme
ConfigFile=theme.conf
Theme-Id=minesddm-theme
Theme-API=2.0
Website=https://github.com/Davi-S/sddm-theme-minesddm
Version=2.1.0
QtVersion=6
