@import 'colors.css';

* {
    font-family: "Fira Code Nerd Font", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: @background;
    color: @workspace-active;
    border-bottom: 3px solid @border;
    padding: 2px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
}

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    color: @workspace-inactive;
    padding: 0 8px;
}

#workspaces button.active {
    color: @workspace-active;
}

#custom-caffeine, #cpu, #pulseaudio, #backlight, #network, #bluetooth, #battery, #clock {
    padding: 0 10px;
}

#custom-caffeine { color: @foreground; }
#custom-caffeine.activated { color: @caffeine-activated; }
#network { color: @network; }
#battery { color: @battery; }
#clock { color: @clock; }
