[SddmGreeterTheme]
Name=sddm-astronaut-japanese-aesthetic
Description=Astronaut theme with Japanese Aesthetic background
Author=keyitdev 
Type=sddm-theme
Version=1.3
ConfigFile=theme.conf
MainScript=Main.qml
Theme-Id=sddm-astronaut-japanese-aesthetic
Theme-API=2.0
QtVersion=6
